<IfModule mod_fastcgi.c>
        AddHandler php-fcgi .php
        Action php-fcgi /php-fcgi
        Alias /php-fcgi /usr/lib/cgi-bin/php-fcgi
        FastCgiExternalServer /usr/lib/cgi-bin/php-fcgi -socket /var/run/php/php5.6-fpm.sock -pass-header Authorization -idle-timeout 2000
        <Directory /usr/lib/cgi-bin>
                Require all granted
        </Directory>
</IfModule>
